# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare generated and vendored files
*.json linguist-vendored=false
*.md linguist-documentation
research/nebula/prototype/* linguist-documentation
